<br><br><h2>Edit '<%= @album.title%>'</h2>
<br><br>

<form action="/albums/<%= @album.id %>" method="post" >
  <input type="hidden" name="_method" value="put">
  <input type="hidden" name="redirect" value="<%= @redirect %>">
  <label>Title:</label>
  <input name="title" type="text" value="<%= @album.title%>">
  <label>
    Buying cost:
  </label>
  <input name="buying_cost" type="text" value="<%= @album.buying_cost%>">
  <label>
    Selling price:
  </label>
  <input name="price" type="text" value ="<%=@album.price%>">
  <input type="hidden" name="artist_id" value="<%= @artist.id %>">
  <input type="hidden" name="stock" value="<%= @album.stock %>">
  <input type="submit">
</form>
