<br><br><h1>ALL STOCK</h1><br><br>

<table>
  <tr>
    <th>Artist</th>
    <th>Album</th>
    <th>Buying cost</th>
    <th>Selling price</th>
    <th>Mark-up</th>
    <th>Stock</th>
    <th>Stock status</th>
  </tr>
  <% for album in @albums %>
  <tr>
    <td><%= album.artist_id%> <a href="/artists/<%= album.artist_id%>"><%= album.artist.name%></a></td>
    <td><%= album.id%> <%= album.title %></td>
    <td><%= album.buying_cost%></td>
    <td><%= album.price%></td>
    <td><%= (album.price)-(album.buying_cost)%></td>
    <td><%= album.stock%><br><a href="/albums/add/<%= album.id%>">Add to stock</a><br><a href="/albums/delete/<%= album.id%>">Reduce stock</a></td>
    <td><%= album.stock_status%></td>
  </tr>
  <% end %>
</table>
