<br><br><h1>All Stock</h1><br><br>

<table>
  <tr>
    <th>Artist</th>
    <th>Album</th>
    <th>Buying cost</th>
    <th>Selling price</th>
    <th>Mark-up</th>
    <th>Stock</th>
    <th>Stock status</th>
  </tr>
  <% for album in @albums %>
  <tr>
    <td id="artist-name"><a href="/artists/<%= album.artist_id%>/albums"><%= album.artist.name %></a></td>
    <td><%= album.title %><br>
    <p class="album-code">
    <%= album.id%><br>
    <a class="album-code" href="/albums/perm_delete/<%= album.id%>">Delete album<br>from database</a>
    </p></td>
    <td><%= album.buying_cost%></td>
    <td><%= album.price%></td>
    <td><%= (album.price)-(album.buying_cost)%></td>
    <td><%= album.stock%><br><br><a href="/albums/add/<%= album.id%>">Add to stock</a><br>
      <a href="/albums/delete/<%= album.id%>">Reduce stock</a><br></td>
    <td class="<%= album.stock_status['class']%>"><%= album.stock_status['text']%></td>
  </tr>
  <% end %>
</table><br><br><br>
