<h1>Artists</h1>


  <table>
    <tr>
      <th></th>
      <th>Name of artist/group</th>
      <th>Genre</th>
      <th></th>
      <th></th>
    </tr>
    <% for artist in @artists %>
    <tr>
      <td><%= artist.id%></td>
      <td><a href="/artists/<%= artist.id%>"><%= artist.name %></a></td>
      <td><%= artist.genre%></td>
      <td><a href="/artists/delete/<%= artist.id%>"> Delete artist<br>from database</a></td>
      <td><a href="/artists/edit/<%= artist.id%>">Edit artist</a></td>
    </tr>
    <% end %>
  </table>
<br><br>
<form action="/artists" method="post">
<label>
Add artist:
</label>
<input name="name" type="text">
<label>
Genre:
  <select name="genre">
    <option>Rock</option>
    <option>Pop</option>
    <option>Jazz</option>
    <option>Other</option>
  </select>
</label>
<input type="submit">
</form>
